@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

/* resetting style */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: DM Sans, sans-serif;
}

body {
  height: 100vh;
  background-color: hsl(27, 66%, 92%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box1 {
  width: 300px;
  height: 80px;
  background-color: hsl(10, 79%, 65%);
  color: white;
  border-radius: 15px;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  margin-bottom: 15px;
}

.box1-title {
  font-size: 0.7rem;
  margin-bottom: 5px;
}

.box1-balance {
  font-size: 1.1rem;
  font-weight: bold;
}

.logo {
  width: 40px;
  height: 40px;
  padding-right: 20px;
}

.box2 {
  background-color: hsl(33, 100%, 98%);
  border-radius: 15px;
  padding: 15px;
  height: 250px;
}
